* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

body {
    background-color: #10aeb5;
}

.container {
    width: 768px;
    min-height: 300px;
    margin: 0 auto;
    padding: 17px;
}

.head {
    width: 768px;
    color: #fff;
    padding: 0;
    height: 187px;
    background-size: 768px 189px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #10aeb5;
    background-image: url('https://mms-res.cdn.bcebos.com/mms-res/voicefe/captain/images/79cc66862a95704652df8c41b269afdd.png?size=1434*378');
}

section {
    width: 768px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    
}

.nav {
    width: auto;
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content:space-around;

}
.nav a{
    text-decoration:none;
    line-height: 60px;
    font-size: 20px;
    color: #000;

}
/* 国内疫情 */
#china,
#world {
    width: 768px;
    display: flex;
    flex-wrap:wrap;
    min-height: 1000px;
}

#china h3,
#world h3{
    margin-left: 10px;
}
/* #china  */
/* 更新时间 */
#china .Upttime,
#world  .Upttime{
    margin-left: 10px;
    width: 100%;
    font-size: 14px;
}
/* 大盒子 */
#china .data1,
#world #worldData{
    display: flex;
    width: 768px;
    justify-content:space-around;
    flex-wrap:wrap;
    height: 300px;
    font-size: 25px;
}
/* 分块 */
#china .data1 div,
#world #worldData div{
    width: 160px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}
/* 横线 */
#china .data1 .hr {
    border:0.1px solid #eeeeee;
    border-width: 0.1;
    width: 100%;
    height: 0;
    margin: 5px;
 }
 #china .data1  p:nth-of-type(2),
 #china .data1  p span {
    color:#ff6a57;
    font-weight: bold;
    /* font-size:40px; */
 } 
 #china .data1  p:nth-of-type(3),
 #china .data1  span
 {
    font-size: 15px;
 }
 /* 颜色 */
 #china .data1  div:nth-child(4n) p:nth-of-type(2),
 #china .data1  div:nth-child(12) p span{
    color:#476da4;
 }

 #china .data1  div:nth-child(13) p:nth-of-type(2),
 #china .data1  div:nth-child(13) p span{
    color:#10aeb5;
 }
 /* #10aeb5 */
 #china .data1  div:nth-child(5) p:nth-of-type(2),
 #china .data1  div:nth-child(9) p:nth-of-type(2){
    color:#e86d48;
 }
 #china .data1  div:nth-child(11) p:nth-of-type(2){
    color:#e83132;
 }
 #china .data1  div:nth-child(14) p:nth-of-type(2),
 #china .data1  div:nth-child(14) span{
    color:#4d5054;
 }

#china .tab{
    position: relative;
    top: 20px;
    width: 768px;
    height: 40px;
    display: flex;
    justify-content:space-around;
    background-color: #e3e6eb;
    border-radius: 5px;
    /* 层叠 */
    z-index: 10;

}
#china .tab button  {
    /* display: block; */
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
    color:black;
    /* background-color: #e3e6eb; */
    
}
#xianyou {
    background-color: #ffffff;
    border: 1px solid #e3e6eb;
}
#xinzen {
    border: 0;
    background-color: #e3e6eb;
}
/* 按钮点击后变色 */
#xinzen:focus{
    border: 1px solid #e3e6eb;
    background-color: #ffffff;
}


/* 国外 */
#world #worldData div{
    width: 200px;
   
}

#broadcast {
    height: 600px;

    background-color: palevioletred;
}
